body {
  font-family: Arial, sans-serif;
}
h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 10px;
}
li {
  list-style: none;
  color: #70757a;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
li::first-letter {
  text-transform: capitalize;
}
ul {
  margin-left: 10px;
  padding: 0;
}
small {
  margin-left: 15px;
}
form {
  line-height: 30px;
  
}
.weather-app-icon{
  width: 88px;
  height: 88px;
}
#temperature {
  color: rgb(33, 33, 33);
  font-size: 70px;
  line-height: 68px;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  color: rgb(32, 33, 36);
  margin-top: 6px;
  vertical-align: top;
  width: 41.8021px;
}
.weather-temperature a {
  text-decoration: none;
}
.search-button{
  background-color: #981f96;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  border: 1px solid;
  padding: 3px 10px;
  margin-left: 10px;
}
#border-weather-app {
  max-width: 600px;
  margin: 15px;
  padding: 20px;
  border: 1px solid #ceccd1;
  border-radius: 5px;
}
#row {
  margin-top: 10px;
}
#search-button {
  background-color: rgb(86, 34, 208);
}
.weather-app-details strong{
  color: rgb(208, 34, 170);
}
.weather-forecast {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  color: #4d4949;
}
.weather-forecast-date {
  text-align: center;
  color: rgba(7, 4, 24, 0.4);
  font-size: 16px;
  margin-bottom: 10px;
}
.weather-forecast-temperatures{
  font-size: 14px;
  color: #D022AA;
  text-align: center;
}
.weather-forecast-temperature-min{
  opacity: 0.5;
}
.weather-forecast-icon{
  width: 60px;
  text-align: center;
}