body {
  font-family: Arial, sans-serif;
}
h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 10px;
}
li {
  list-style: none;
  color: #70757a;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
li::first-letter {
  text-transform: capitalize;
}
ul {
  margin-left: 10px;
  padding: 0;
}
small {
  margin-left: 15px;
}
form {
  line-height: 30px;
  
}
.weather-temperature img {
  display: inline-block;
  height: 60px;
  margin-right: 5px;
  vertical-align: top;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  color: rgb(32, 33, 36);
  margin-top: 6px;
  vertical-align: top;
  width: 41.8021px;
}
.weather-temperature a {
  text-decoration: none;
}
#border-weather-app {
  max-width: 600px;
  margin: 15px;
  padding: 20px;
  border: 1px solid #ceccd1;
  border-radius: 5px;
}
#row {
  margin-top: 10px;
}
#search-button {
  background-color: rgb(86, 34, 208);
}
#humidity{
  color: rgb(208, 34, 170);
}
#wind{
  color: rgb(208, 34, 170);
}